@{
    ViewBag.Title = "Home Page";
}

<div class="well">
    <h1 style="font-size:3em;">Distributed Systems with DiPS <img src="https://raw.githubusercontent.com/pedro-ramirez-suarez/DiPS/master/DiPSLogo.png" style="margin-left:30px;margin-bottom:50px;" /></h1>
    <h2>(<b>Di</b>stributed <b>P</b>ublish <b>S</b>ubscribe)</h2>
    <p style="font-size:0.99em">In software architecture, publish–subscribe is a messaging pattern where senders of messages, called publishers, do not program the messages to be sent directly to specific receivers, called subscribers. Instead, published messages are characterized into classes, without knowledge of what, if any, subscribers there may be. Similarly, subscribers express interest in one or more classes, and only receive messages that are of interest, without knowledge of what, if any, publishers there are.</small>
    <p><a href="https://en.wikipedia.org/wiki/Publish%E2%80%93subscribe_pattern" class="btn btn-primary btn-lg">Learn more...</a></p>
</div>

<article>
    <h3>To Start the chat enter your user name</h3>
    <form method="post">
        <div class="row">
            <div class="col-md-3">
                
                <input type="text" id="userName" name="userName"   placeholder="Enter your email here" tabindex="0" autofocus required style="width:300px" class="form-control" />
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-success">Go Chat!</button>
            </div>
        </div>
        
        
        
    </form>


</article>